version: "3.9"
name: bombermanonline-infra
services:
  consul:
    image: hashicorp/consul:1.21
    ports:
      - "8500:8500"
      - "8600:8600/udp"
    volumes:
      - consul_data:/consul/data
    command: "agent -server -bootstrap-expect=1 -ui -client=0.0.0.0"

  game-allocator-service:
      build:
        context: ../services/game-allocator-service
        dockerfile: Dockerfile
      environment:
        - INFISICAL_MACHINE_CLIENT_ID=43a8f0c8-0335-457b-bf4b-30c535ea76d6
        - INFISICAL_MACHINE_CLIENT_SECRET=407096de13aa16fdd086e2a034839cc9032cea65864b873d1f0cd2d2a1462ea0
        - INFISICAL_PROJECT_ID=75120a62-4e31-4aed-8ea3-20bc53c06d7e
        - INFISICAL_SECRET_ENV=dev
        - INFISICAL_API_URL=http://infisical:8080
        - INFISICAL_PATH=/game-allocator-service
#        - PYTHONUNBUFFERED=1
#        - REDIS_HOST=redis
#        - CONSUL_HTTP_ADDR=consul:8500
#        - PROMETHEUS_URL=http://prometheus:9090
#        - NATS_URL=nats://nats:4222
#        - CONSUL_HOST=consul
#        - LOG_LEVEL=DEBUG
#        - LOG_FORMAT=json
      volumes:
        - ../services/game-allocator-service/app:/app/game-allocator-service/app
      depends_on:
        consul:
          condition: service_started
        prometheus:
          condition: service_started
        nats:
          condition: service_started
        infisical:
          condition: service_healthy
        redis:
          condition: service_started
        fluent-bit:
          condition: service_started
      expose:
        - "5005"
      labels:
        - "traefik.enable=true"
#        - "traefik.http.routers.allocator.rule=Host(`allocator.localhost`)"
      logging:
        driver: "fluentd"
        options:
          fluentd-address: localhost:24224
          tag: docker.game-allocator-service

  webapi-service:
    build:
      context: ../services/webapi-service
      dockerfile: Dockerfile
#    deploy:
#      mode: replicated
#      replicas: 2
#    command: uv run uvicorn webapi-service.app.main:app --host 0.0.0.0 --port 5001
    volumes:
      - ../services/webapi-service/app:/app/webapi-service/app
      - webapi_logs:/var/log/webapi-service
    environment:
      - INFISICAL_MACHINE_CLIENT_ID=8270b339-a88d-415d-b5a1-f087184b671f
      - INFISICAL_MACHINE_CLIENT_SECRET=56c9c9afce52cfae61064f055cf5322ba2890d39ccbd5137e6d68b853b98ae76
      - INFISICAL_PROJECT_ID=75120a62-4e31-4aed-8ea3-20bc53c06d7e
      - INFISICAL_SECRET_ENV=dev
      - INFISICAL_API_URL=http://infisical:8080
      - INFISICAL_PATH=/webapi-service
#      - PYTHONUNBUFFERED=1
#      - REDIS_HOST=redis
#      - NATS_URL=nats://nats:4222
#      - CONSUL_HOST=consul
    depends_on:
      infisical:
        condition: service_healthy
      consul:
        condition: service_started
      redis:
        condition: service_started
      nats:
        condition: service_started
      fluent-bit:
        condition: service_started
#    ports:
#      - "5001:5001"
    expose:
      - "5001"
    labels:
      - "traefik.enable=true"
    logging:
      driver: "fluentd"
      options:
        fluentd-address: localhost:24224
        tag: docker.webapi-service

  game-service:
    build:
      context: ../services/game-service
      dockerfile: Dockerfile
#    command: sleep infinity
#    command: uv run uvicorn app.main:app --host 0.0.0.0 --port 5002
#    deploy:
#      mode: replicated
#      replicas: 2
    volumes:
      - ../services/game-service/app:/app/game-service/app
      - ../shared:/app/game-service/app/shared
      - game_logs:/var/log/game-service
    environment:
      - INFISICAL_MACHINE_CLIENT_ID=d8f5e51a-a469-4a2e-8b68-55572af4afe1
      - INFISICAL_MACHINE_CLIENT_SECRET=f9f6a919d80239906b6aff858d9f61d89a63dabe8b0fde330a3d5adb989b6bb6
      - INFISICAL_PROJECT_ID=75120a62-4e31-4aed-8ea3-20bc53c06d7e
      - INFISICAL_SECRET_ENV=dev
      - INFISICAL_API_URL=http://infisical:8080
      - INFISICAL_PATH=/game-service
#      - LOG_LEVEL=INFO
#      - PYTHONUNBUFFERED=1
#      - REDIS_HOST=redis
#      - NATS_URL=nats://nats:4222
#      - POSTGRES_HOST=pgbouncer
#      - POSTGRES_PORT=5432
#      - POSTGRES_DB=game_service
#      - POSTGRES_USER=bomberman
#      - POSTGRES_PASSWORD=bomberman
#      - LOG_FORMAT=json
#      - CONSUL_HOST=consul
    depends_on:
      redis:
        condition: service_started
      nats:
        condition: service_started
      consul:
        condition: service_started
      pgbouncer:
        condition: service_started
      infisical:
        condition: service_healthy
      fluent-bit:
        condition: service_started

#    ports:
#      - "5002:5002"
    expose:
      - "5002" #fastapi
      - "50051" # gRPC
    labels:
      - "traefik.enable=true"
    logging:
      driver: "fluentd"
      options:
        fluentd-address: localhost:24224
        tag: docker.game-service

  auth-service:
    build:
      context: ../services/auth-service
      dockerfile: Dockerfile
#    deploy:
#      mode: replicated
#      replicas: 2
    volumes:
      - ../services/auth-service/app:/app/auth-service/app
      - auth_logs:/var/log/auth-service
    environment:
      - INFISICAL_MACHINE_CLIENT_ID=04baedbc-a525-4293-bae6-a9d0601d009a
      - INFISICAL_MACHINE_CLIENT_SECRET=91940a93328d660ea09588b6e33b9976b8d96ef79431586300c856415ec30123
      - INFISICAL_PROJECT_ID=75120a62-4e31-4aed-8ea3-20bc53c06d7e
      - INFISICAL_SECRET_ENV=dev
      - INFISICAL_API_URL=http://infisical:8080
      - INFISICAL_PATH=/auth-service
#      - PYTHONUNBUFFERED=1
#      - REDIS_HOST=redis
#      - POSTGRES_HOST=pgbouncer
#      - POSTGRES_PORT=5432
#      - POSTGRES_DB=auth_service
#      - POSTGRES_USER=bomberman
#      - POSTGRES_PASSWORD=bomberman
#      - SECRET_KEY=${AUTH_SECRET_KEY:-your_secret_key_here}
#      - CONSUL_HOST=consul
    depends_on:
      redis:
        condition: service_started
      consul:
        condition: service_started
      pgbouncer:
        condition: service_started
      infisical:
        condition: service_healthy
      fluent-bit:
        condition: service_started
#    ports:
#      - "5003:5003"
    expose:
      - "5003"
    labels:
      - "traefik.enable=true"
    logging:
      driver: "fluentd"
      options:
        fluentd-address: localhost:24224
        tag: docker.auth-service

  ai-service:
    build:
      context: ../services/ai-service
      dockerfile: Dockerfile
    volumes:
      - ../services/ai-service/app:/app/ai-service/app
      - ../shared:/app/ai-service/app/shared
      - ../infra/ai_models:/app/ai_models
      - ../infra/ai_logs:/app/ai_logs
    environment:
      - INFISICAL_MACHINE_CLIENT_ID=f871ae75-4695-4593-b842-3a6c350b37e1
      - INFISICAL_MACHINE_CLIENT_SECRET=0a1bdb512a9f2849f37d7cd227d3ce74b3082590a758f24b235a20a3c2a513e3
      - INFISICAL_PROJECT_ID=75120a62-4e31-4aed-8ea3-20bc53c06d7e
      - INFISICAL_SECRET_ENV=dev
      - INFISICAL_API_URL=http://infisical:8080
      - INFISICAL_PATH=/ai-service
#      - PYTHONUNBUFFERED=1
#      - REDIS_HOST=redis
#      - NATS_URL=nats://nats:4222
#      - CONSUL_HOST=consul
#      - LOG_LEVEL=DEBUG
#      - LOG_FORMAT=json
#      - MODELS_PATH=/app/ai_models
#      - LOGS_PATH=/app/ai_logs
    depends_on:
      redis:
        condition: service_started
      nats:
        condition: service_started
      consul:
        condition: service_started
      infisical:
        condition: service_healthy
      fluent-bit:
        condition: service_started
#    ports:
#      - "5004:5004"
    expose:
      - "5004" #fastapi
      - "50051" # gRPC
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.ai.rule=Host(`ai.localhost`)"
    logging:
      driver: "fluentd"
      options:
        fluentd-address: localhost:24224
        tag: docker.ai-service

  web-frontend:
    build:
      context: ../services/web-frontend
      dockerfile: Dockerfile
    expose:
      - "3000"
    volumes:
      - ../services/web-frontend/public:/app/public
      - ../services/web-frontend/src:/app/src
    environment:
      - INFISICAL_MACHINE_CLIENT_ID=7179351c-96b5-45b4-90d4-e74d20716716
      - INFISICAL_MACHINE_CLIENT_SECRET=7fa1d2a9c26e44bb91b334ec91843ed7eaf45bdea32a9705d9809c85547406e0
      - INFISICAL_PROJECT_ID=75120a62-4e31-4aed-8ea3-20bc53c06d7e
      - INFISICAL_SECRET_ENV=dev
      - INFISICAL_API_URL=http://infisical:8080
      - INFISICAL_PATH=/web-frontend
#      - NODE_ENV=production
#      - REACT_APP_LOGS_ENDPOINT=/logs
#      - REACT_APP_SERVICE_NAME=web-frontend
#      - REACT_APP_SOCKET_URL=http://localhost:3000
#      - REACT_APP_SOCKET_PATH=/webapi/socket.io
#      - PORT=3000
#      - REACT_APP_LOGS_BATCH_SIZE=10
#      - AUTH_URL=/auth
    depends_on:
      infisical:
        condition: service_healthy
      fluent-bit:
        condition: service_started
    labels:
      - "traefik.enable=true"

  tensorboard:
    image: tensorflow/tensorflow:2.20.0
    volumes:
      - ../infra/ai_logs:/tf/logs
    ports:
      - "6006:6006"
    command: tensorboard --logdir=/tf/logs --host 0.0.0.0 --port 6006 --samples_per_plugin=images=10000
    logging:
      driver: "fluentd"
      options:
        fluentd-address: localhost:24224
        tag: docker.tensorboard
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.tensorboard.loadbalancer.server.port=6006"
    depends_on:
      fluent-bit:
        condition: service_started

  pgbouncer:
    container_name: pgbouncer
    image: edoburu/pgbouncer:v1.25.1-p0
    environment:
#      - DATABASE_URL="postgres://bomberman:bomberman@postgres:5432"
      - DB_USER=${POSTGRES_USER:-bomberman}
      - DB_PASSWORD=${POSTGRES_PASSWORD:-bomberman}
      - DB_HOST= postgres
      - POOL_MODE= transaction
      - MAX_CLIENT_CONN= 1000
      - DEFAULT_POOL_SIZE= 25
      - RESERVE_POOL_SIZE= 5
      - SERVER_IDLE_TIMEOUT= 60
      - AUTH_TYPE=scram-sha-256
      - ADMIN_USERS=bomberman,postgres,dbuser
    ports:
      - "5432:5432"
    depends_on:
      postgres:
        condition: service_started
#    healthcheck:
#      test: [ 'CMD', 'pg_isready', '-h', 'localhost' ]

  postgres:
    image: postgres:15-alpine
#    ports:
#      - "5432:5432" #connection goes through pgbouncer
    environment:
      - POSTGRES_USER=${POSTGRES_USER:-bomberman}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-bomberman}
      - POSTGRES_DB=${POSTGRES_DB:-bomberman}
    volumes:
      - postgres_data:/var/lib/postgresql/data
#    restart: unless-stopped
#    healthcheck:
#      test: "pg_isready --username=${POSTGRES_USER} && psql --username=${POSTGRES_USER} --list"
#      interval: 5s
#      timeout: 10s
#      retries: 10

  pgadmin:
    image: dpage/pgadmin4:latest
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_EMAIL:-admin@admin.com}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_PASSWORD:-admin}
      - PGADMIN_CONFIG_SERVER_MODE=True
      - PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED=False
      - SCRIPT_NAME=/pgadmin
    expose:
      - "80"
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.pgadmin.loadbalancer.server.port=80"
    depends_on:
      postgres:
        condition: service_started
      pgbouncer:
        condition: service_started

  redis:
    image: redis:7.2
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  redis-exporter:
    image: oliver006/redis_exporter:v1.55.0
    environment:
      REDIS_ADDR: redis://redis:6379
    ports: ["9121:9121"]
    depends_on:
      redis:
        condition: service_started

  nats:
    image: nats:2.10
    ports:
      - "4222:4222"
      - "8222:8222"
    volumes:
      - nats_data:/data

  prometheus-nats-exporter:
    image: natsio/prometheus-nats-exporter:latest
    command: "-varz -connz -subz -routez -gatewayz -healthz -accstatz -leafz -jsz=all http://nats:8222"
    ports:
      - "7777:7777"
    depends_on:
      nats:
        condition: service_started
#    restart: unless-stopped

  traefik:
    image: traefik:3.6.6
    ports:
      - "3000:80"     # HTTP
      - "8080:8080" # Веб-интерфейс Traefik Dashboard
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik/traefik.yml:/etc/traefik/traefik.yml
      - ./traefik/middlewares.yml:/etc/traefik/middlewares.yml
      - ./traefik/routers.yml:/etc/traefik/routers.yml
      - ./traefik/logs:/var/log/traefik
      - ./traefik/traefik_plugins:/plugins-storage
      - ./traefik/local-plugins:/plugins-local/src
    command:
      - "--configFile=/etc/traefik/traefik.yml"
#    restart: unless-stopped
#    depends_on:
#      - webapi-service
#      - game-service
#      - auth-service
#      - web-frontend
#      - fluent-bit
    labels:
      - "traefik.enable=true"

  # Системы мониторинга и логирования
  prometheus:
    image: prom/prometheus:v2.49.1
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--web.enable-lifecycle'
    ports:
      - "9090:9090"
#    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.prometheus.rule=Host(`prometheus.localhost`)"
      - "traefik.http.services.prometheus.loadbalancer.server.port=9090"

  node-exporter:
    image: prom/node-exporter:v1.7.0
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.rootfs=/rootfs'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
    ports:
      - "9100:9100"
    depends_on:
      nats:
        condition: service_started
#    restart: unless-stopped

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.47.2
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    ports:
      - "8081:8080"
#    restart: unless-stopped

  loki:
    image: grafana/loki:3.5.0
    volumes:
      - ./loki/loki-config.yml:/etc/loki/local-config.yaml
      - loki_data:/loki
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml -target=all -log.level=info
#    restart: unless-stopped
    networks:
      default:
        aliases:
          - loki.internal

  fluent-bit:
    image: grafana/fluent-bit-plugin-loki:latest
    volumes:
      - ./fluent-bit/fluent-bit.conf:/fluent-bit/etc/fluent-bit.conf
      - ./fluent-bit/parsers.conf:/fluent-bit/etc/parsers.conf
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
    ports:
      - "24224:24224"
      - "24224:24224/udp"
      - "2020:2020"
      - "8888:8888"
    environment:
      - LOKI_URL=http://loki.internal:3100/loki/api/v1/push
    depends_on:
      loki:
        condition: service_started
#    restart: unless-stopped
    networks:
      - default

  grafana:
    image: grafana/grafana:12.0.0
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
      - ./grafana/dashboards:/var/lib/grafana/dashboards
    environment:
      - GF_SECURITY_ADMIN_USER=${GRAFANA_ADMIN_USER:-admin}
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_ADMIN_PASSWORD:-admin}
      - GF_SERVER_ROOT_URL=http://localhost:3000/grafana/
      - GF_SERVER_SERVE_FROM_SUB_PATH=true
      - GF_USERS_ALLOW_SIGN_UP=false
      - GF_SERVER_HTTP_PORT=3001
      - GF_DASHBOARDS_MIN_REFRESH_INTERVAL=5s
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer
    expose:
      - "3001"
    depends_on:
      prometheus:
        condition: service_started
      loki:
        condition: service_started
#    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.grafana.loadbalancer.server.port=3001"


  infisical:
    container_name: infisical-backend
    image: infisical/infisical:v0.158.0
    restart: unless-stopped
    depends_on:
      pgbouncer:
        condition: service_started
      redis:
        condition: service_started
      traefik:
        condition: service_started
    pull_policy: always
#    env_file: .env
#    ports:
#      - 3002:8080
    expose:
      - "8080"
    environment:
#      - NODE_ENV=production
      - NODE_ENV=development
      - ENCRYPTION_KEY=f13dbc92aaaf86fa7cb0ed8ac3265f47
      - AUTH_SECRET=5lrMXKKWCVocS/uerPsl7V+TX/aaUaI7iDkgl3tSmLE=
      - DB_CONNECTION_URI=postgresql://${POSTGRES_USER:-bomberman}:${POSTGRES_PASSWORD:-bomberman}@pgbouncer:5432/infisical
      - REDIS_URL=redis://redis:6379
      - SITE_URL=http://infisical.localhost:3000
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8080/api/status || exit 1"]
      interval: 10s
      timeout: 3s
      start_period: 10s
      retries: 3
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.infisical.loadbalancer.server.port=8080"
      - "traefik.http.routers.infisical.rule=Host(`infisical.localhost`)"



volumes:
  postgres_data:
  redis_data:
  nats_data:
  prometheus_data:
  loki_data:
  grafana_data:
  pgadmin_data:
  webapi_logs:
  game_logs:
  auth_logs:
  consul_data:
  ai_models:
  ai_logs: